body {
   
}

#bgimage {
  position:fixed;
  z-index: -1;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;         /* centra il contenuto*/
}

input {
 
}

#btn_login {
 
}